<footer>
    <div class="container">
        <div class="company">
            <h1>Sorintech</h1>
            <p>sorintech07@gmail.com</p>
            <p>+62 889-7175-5075</p>
        </div>
        <div class="social-media">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Join Us</a></li>
            </ul>
            <div class="icon-sosmed">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-square-facebook"></i>
            </div>
        </div>
    </div>
</footer>