<nav>
    <div class="nav-brand">
        <h1>Company</h1>
    </div>
    <div class="nav-link">
        <ul>
            <li><a href="/"><i class="fa fa-house"></i> Home</a></li>
            <li><a href="/profile"><i class="fa fa-users"></i> Profile</a></li>
            <li><a href="/about"><i class="fa fa-address-card"></i> About</a></li>
        </ul>
    </div>
</nav>