<section class="about">
    <div class="container">
        <div class="creator-name">
            <img src="i'm.jpeg" alt="M Iqbal Ferdiansyah">
            <h1>M Iqbal Ferdiansyah</h1>
            <p>Front End Developer</p>
        </div>
        <div class="aboutCreator">
            <h1>About <span style="color: slateblue;">Me</span></h1>
            <div class="box">
                <p>Hi my name is M Iqbal Ferdiansyah I just learned coding in Front End, my achievement is to become
                    Full Stack Developer.</p>
            </div>
        </div>
    </div>
</section>