<section class="hero-section">
    <div class="jumbotron">
        <h1>Welcome To Our <br> Company</h1>
        <p>Our company is determined to become a center for making software (website, mobile Android & iOS, desktop),
            hardware (automatic electronic devices) with international qualifications and competencies.</p>
    </div>
    <div class="image">
        <img src="Development Ilustration.png" alt="">
    </div>
</section>

<!-- Join Footer -->
<section class="join-footer">
    <div class="container">
        <div class="join">
            <p>Join our company, Show your programming skills. We accept the position. Frontend developers, Backend
                developers, Game developers, Mobile and ios developers, And full stack developers</p>
            <button>Join Us</button>
        </div>
    </div>
</section>