<section class="hero-section">
    <div class="jumbotron">
        <h1>Welcome To Our <br> Company</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatem, id molestiae eveniet ipsam
            explicabo hic! Dolore inventore provident adipisci laborum. Temporibus assumenda quo, suscipit repellendus
            dicta exercitationem voluptatum quam nobis, a, laudantium praesentium qui incidunt tenetur optio excepturi
            beatae mollitia consequuntur dolor. Necessitatibus, eum cupiditate veniam corporis officiis quaerat.</p>
    </div>
    <div class="image">
        <img src="Development Ilustration.png" alt="">
    </div>
</section>

<!-- Join Footer -->
<section class="join-footer">
    <div class="container">
        <div class="join">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat necessitatibus odio doloremque hic,
                dolorum facere sit ratione tempore possimus. Deserunt expedita, ab commodi veniam eaque modi nostrum
                inventore ea tempora sint porro necessitatibus fugit velit esse nemo voluptates consequatur vel
                praesentium quam. Cumque ad ipsum doloribus laborum repudiandae totam at.</p>
            <button>Join Us</button>
        </div>
    </div>
</section>