* {
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #222;
  color: #fff;
  font-family: "Khula", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #edddd4; */
  color: fff;
  padding: 20px;
}
nav .nav-brand {
  font-size: 20px;
  padding-left: 60px;
}
nav .nav-link {
  padding-right: 60px;
}
nav .nav-link ul {
  display: flex;
}
nav .nav-link ul li a {
  color: #fff;
  margin-right: 20px;
  font-size: 19px;
  font-weight: bold;
}
nav .nav-link ul li a:hover {
  opacity: 0.6;
}
/* End */

/*  Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  margin: 80px;
  margin-top: 80px;
}

.hero-section .jumbotron {
  width: 45%;
  padding-top: 40px;
}
.hero-section .jumbotron h1 {
  font-size: 35px;
  padding-bottom: 20px;
}
.hero-section .image {
  width: 50%;
  border-radius: 30px;
  height: 350px;
  margin-top: -30px;
}
.hero-section .image img {
  width: 100%;
  margin-top: -50px;
}
/* End */

/* Profile */
.profile .visionMission {
  padding: 70px 70px 30px 70px;
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
}
.profile .visionMission .vision {
  width: 45%;
}
.profile .visionMission h1 {
  font-size: 25px;
  margin-bottom: 20px;
}
.profile .visionMission .mission {
  width: 45%;
}
.profile .ourTeam {
  height: auto;
  padding-bottom: 60px;
  /* background-color: burlywood; */
}
.profile .ourTeam h1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
  padding: 20px 0 0 0;
}
.profile .ourTeam .box {
  margin: 20px 110px 0 110px;
  padding: 30px 0 60px 0;
  background-color: #edddd4;
  color: #000;
  border-radius: 20px;
}
.profile .ourTeam .box table {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  color: #fff;
  cursor: default;
}
.profile .ourTeam .box table th {
  background-color: #222;
  border-radius: 5px;
  padding: 10px;
}
.profile .ourTeam .box table td {
  border-radius: 5px;
  padding: 7px;
  background-color: #222;
}
.profile .ourTeam .box table button {
  background-color: rgb(255, 62, 62);
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  width: 90px;
  transition: 0.6s;
}
.profile .ourTeam .box table button:hover {
  transform: scale(0.98);
  background-color: rgba(255, 62, 62, 0.613);
}
/* End */
.btn {
  width: 100px;
  margin-left: 156px;
  margin-bottom: 10px;
}

.btn button {
  width: 120px;
  padding: 8px;
  border-radius: 10px;
  border: 3px solid #fff;
  font-weight: bold;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.btn button:hover {
  transform: scale(0.95);
}

/* About */
.about {
  text-align: center;
  padding-top: 30px;
  height: 130vh;
}
.about .creator-name {
  height: 90vh;
}
.about .creator-name img {
  width: 200px;
  border: 3px double white;
  border-radius: 50%;
}
.about .creator-name h1 {
  font-size: 25px;
  margin: 10px 0 10px 0;
}
.about .creator-name p {
  opacity: 0.5;
}
.about .aboutCreator {
  /* background-color: #ffd9c1; */
  padding: 10px 150px 55px 150px;
  height: 100;
}
.about .aboutCreator h1 {
  color: #fff;
  font-size: 30px;
  margin: 10px 0 20px 0;
  padding: 10px 0 0 0;
}
.about .aboutCreator p {
  font-size: 17px;
}
.about .aboutCreator .box {
  padding: 50px;
  border-radius: 20px;
  background-color: #ffd;
  color: #000;
}
/* End */

/* Add Employee Page */
.addEmployee {
  height: 100vh;
}
.addEmployee h2 {
  margin-top: 20px;
  margin-left: 315px;
}
.addEmployee .box {
  margin: 20px auto;
  width: 50%;
  padding: 30px 0 30px 0;
  background-color: #edddd4;
  border-radius: 20px;
  color: black;
}
.addEmployee .box table {
  margin: 0 auto;
}
.addEmployee .box table td {
  padding: 10px;
}
.addEmployee .box table input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  padding: 5px;
  font-size: 17px;
  width: 230px;
}
.addEmployee .box table input[type="submit"] {
  margin-top: 10px;
  background-color: #222;
  border: 3px solid #c44536;
  color: #fff;
  font-weight: bold;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.6s;
}
.addEmployee .box table input[type="submit"]:hover {
  transform: scale(0.94);
  background-color: rgba(34, 34, 34, 0.298);
  color: black;
}

.addEmployee .box table input[tyoe="text"]:valid {
  border-bottom: inherit;
}
.addEmployee .box table input[type="text"]:invalid {
  border-bottom: 2px solid red;
}
/* End */

/* Join Footer */
.join-footer {
  font-size: 17px;
  height: auto;
  width: auto;
  margin-top: 200px;
  padding: 45px 50px 45px 80px;
  background-color: #30332e;
  color: #fff;
}

.join-footer .join button {
  width: 105px;
  padding: 7px;
  font-size: 15px;
  margin-top: 15px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 7px;
  font-weight: bold;
  transition: 0.5s;
}

.join-footer .join button:hover {
  background-color: slateblue;
  color: #fff;
}

/* Footer */
footer {
  background-color: #edddd4;
  color: #222;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 55px 30px 80px;
}
footer .container .company {
  line-height: 35px;
}
footer .container ul {
  display: flex;
  list-style: none;
  margin-bottom: 10px;
}
footer .container ul li {
  margin-right: 15px;
}
footer .container ul li a {
  font-size: 20px;
  color: #222;
}

footer .container i {
  cursor: pointer;
  margin-right: 35px;
  font-size: 25px;
}
footer .container .icon-sosmed {
  margin-left: 60px;
}
